html,
body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
}

/* nav-bar */
a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #2cf09c;
    text-decoration: none;
    border-bottom: 2px solid white;
    padding-bottom: 2px;
}

#nav-link,
#dropdownId {
    font-size: 1.3rem;
    margin-left: 30px;
    margin-right: 20px;
}

.login {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    float: right;
    margin-top: 5%;
    margin-right: 20px;
    font-size: 1.5rem;
}

.login:hover {
    color: #2cf09c;
    text-decoration: none;
    padding-left: 5px;
    border-left: 2px solid white;
    padding-bottom: 2px;
}

.login a img {
    margin-top: 90%;
}

.register::hover {
    color: pink;
}

.hl {
    height: 150px;
    border-right: 2px solid white;
    margin-top: 10px;
    margin-right: 20px;
}

/* Header */

header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container-fluid {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 1;
}

/* Footer */
.footer,
.push {
    height: 50px;
}

.footer {
    text-align: center;
    line-height: 50px;
    color: white;
}
